@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.about {
    margin-top: 3rem;
  &__main{
    @include display-flex(column, center, center);
    width: 60%;
    margin-left: 20%;
  }
  &__title{
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  &__content{
    line-height: 36px !important;
    margin-bottom: 3rem;
  }
}