@import"../../styles/variables.scss";
@import"../../styles/mixins.scss";

.button {
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    position: absolute;
    background-color: $CTA-color;
    color: rgb(109, 107, 107);
  }
  
  .button:hover {
    background-color: $CTA-hover;
    color: white;
  }
  