@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.form {
  &__wrap1 {
    background-color: #fcf5f5;
    @include display-flex(column, center, center);
  }
  @include desktop {
    padding: 0 1rem;
  }
  &__titlebox {

    @include display-flex(row, center, center);
    font-size: 1.5rem;
  
    padding-top: 3rem;
    padding-bottom: 1.2rem;
   
  
}
  &__title {
    font-family:GillSans-SemiBold;
    padding-left: 16px;
    width: 12rem;
    height: 2rem;
    margin-right: 0.6rem;
    border: 1px solid #c5afaf;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    @include tablet{
    width: 15rem;
    height: 3rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  
    padding-right: 16px;
    }
    @include desktop {
      padding-left: 16px;
    width: 12rem;
    height: 2rem;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    margin-right: 0.6rem;
    }
  }
  &__format {
    @include display-flex(row, center, center);
  }
  &__left {
    @include display-flex(column, center, center);
  }
  &__right {
    @include display-flex(column, center, center);
  }
  &__format {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    @include display-flex(column, center, center);
  }
  &__box1{
    @include display-flex(row, center, center);
  }
  &__button1 {
    
    text-align:center;
    @include display-flex(row, center, center);
    font-size: 16px;
    background-color: $CTA-color;
    color: darkgray;
    height: 35px;
    width: 10rem;
    border-radius: 8px;
    border: 1px solid $secondary-color;
   
    margin: 24px 0;
    font-family:GillSans-SemiBold;
    &:hover {
      background-color: $CTA-hover;
      color: white;
    }
    @include tablet {
      margin-bottom: 24px;
      font-size: 16px;
      height: 45px;
      width: 12rem;
    
      margin-left: 0;
    
    }
    @include desktop {
      margin-bottom: 24px;
      font-size: 16px;
      width: 150px;
    
      margin-right: 24px;
    }
  }
  &__success {
    background-color: #fcf5f5;
    height: 50vh;
    text-align: center;
  }
}

.warning {
 
    display: flex;
    align-items: center;
justify-content: center;
    height: 1.25rem;
    margin: 0 0 1%;

    &__icon {
      width: 0.9rem;
      height: 0.9rem;
      margin: 0 1.5% 0 0;
    }

    &__text {
color: red;
    }
  
}
