@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero {
  &__wrap {
    width: 94%;
    margin: 0 1rem;
    @include tablet {
      width: 85%;
      margin-left: 5rem;
    }
    @include desktop {
      width: 80%;
      margin-left: 8rem;
    }
  }
  &__video {
    width: 100%;
  }
}
