@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.bowed {
   
  &__img{
      display: flex;
      flex-direction: column;
      @include tablet {
          flex-direction: row;
          justify-content: center
      }
      @include desktop {
          gap: 5rem;
      }
  }
    &__wrap{

        @include display-flex (column, center,center);
        gap:3rem;
        margin: 0 6rem 2rem 6rem;
    }
    &__contentbox1{
        margin: 0;
        width: 100% ;
        height: auto;
        background-color: #fff0d5;
        font-size: 1.1rem;
       padding: 1rem 0;
       gap:16px;
        height: auto;
        @include display-flex (column, center,center);
        @include desktop{
        display: none;
     
        }
    }
    &__contentbox{
        display: none;
        @include desktop{
        background-color: #fff0d5;
        font-size: 1.1rem;
        padding-left: 2rem;
       gap:16px;
        height: 450px;
        @include display-flex (column, center,center);
     
        }
    }
    &__content{
        
        @include display-flex (column, center,center);
       gap:16px;
        width: 80%;
    }
    &__row {
        @include display-flex (row, left,top);
    }
  &__bowed{
    height:450px;
    width: 350px;
    gap:3rem;
  }
  &__title{
      font-size: 1.18rem;
      font-weight: 600;
  }
  &__title1{
      font-weight: 600;
  }
}