@import"./variables.scss";


@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
}

@mixin fonts($size, $color, $weight) {
    font-size: $size;
    color: $size;
    font-weight: $weight;

}

@mixin display-flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align; 
}