//text colors
$primary-color: #323232;
$secondary-color: #afafaf;
$border: #e1e1e1;
// other colors
$CTA-color: #f4f4f4;
$CTA-hover: #96989b;
$background: #ffffff;
$form-background: #fafafa;
//breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;

//fonts
// $font: "AvenirNext LT Pro";
