// .image {
//     &__bowed {
//         height:200rem;
//     }
// }
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
.plucked {
    @include display-flex (column, center,center);
    gap:5rem;
}
.image {
    &__plucked {
        height:28rem;
        width: 16rem;
        gap:3rem;
    }
    &__wrap{
        @include display-flex (row, center,center);
        gap:3rem;
        margin:0 8rem;
    }
    &__wrap1{
        // @include display-flex (column, left,center);
        @include display-flex (column, center,center);
        gap:3rem;
        margin: 0 10rem;
    }
  
    &__contentbox{
        font-size: 1.1rem;
        padding-left: 3rem;
       gap:16px;
        height: 400px;
        @include display-flex (column, center,center);
        background-color: #fff0d5;
    }
    &__content{
        
        @include display-flex (column, center,center);
       gap:16px;
        width: 80%;
    }
    &__row {
        @include display-flex (row, left,top);
    }
  &__bowed{
    height:450px;
    width: 350px;
    gap:3rem;
  }
  &__title{
      font-size: 1.18rem;
      font-weight: 600;
  }
  &__title1{
      font-weight: 600;
  }
}