@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero {
  color: #323232;
  font-weight: 600;
  font-size: 1rem;
  background-size: cover;
  background-image: url(../../assets/images/banner.jpg);
  height: 30vh;
  width: 100%;
  padding-bottom: 30vh;
  @include display-flex(column, center, center);
  @include tablet {
    // font-size: 70px;
    height: 80vh;
    max-height: 60vh;
  }
  @include desktop {
    // font-size: 70px;
    max-height: 80vh;
  }
  &__header {
    margin-left: 16px;
    @include tablet {
      margin-left: 24px;
    }
    @include desktop {
      margin-left: 130px;
    }
  }
}
