@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;




// @include tablet{

// }
// @include desktop{
  
// }
.header {
  background-color: $background;
  width: 100%;
  &__container {
    @include display-flex(column, center, center);
    margin: 32px;
    gap: 24px;
    @include tablet {
      @include display-flex(row, space-between, center);
    }

    @include desktop {
      @include display-flex(row, space-between, center);
    }
  }
  &__right {
    @include tablet {
      @include display-flex(row, space-between, center);
      gap: 24px;
    }

    @include desktop {
      @include display-flex(row, space-between, center);
    }
  }

  &__format {
    @include display-flex(row, space-between, center);
    gap: 24px;
    @include tablet {
      gap: 0;
    }
    @include desktop {
      gap: 0;
    }
  }
  &__logo {
    height: 32px;
    @include desktop {
      padding-left: 8rem;
    }
  }

  &__search {
    width: 22rem;
    height: 45px;
    background-color: $form-background;
    border-radius: 8px;
    color: #323232;
    border: 2px solid $border;

    font-size: 16px;
    // background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 3% 50%;
    padding-left: 2.5rem;
    @include tablet {
      width: 18rem;
      height: 45px;
    }
    @include desktop {
      width: 20vw;
    }
  }
  &__image {
    @include display-flex(row, space-between, center);
    object-fit: cover;

    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;

    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
  &__img {
    display: none;

    @include tablet {
      display: flex;
      @include display-flex(row, space-between, center);
      object-fit: cover;
      width: 50px;
      height: 50px;
      background-color: lightgrey;
      border-radius: 50%;
    }
    @include desktop {
      display: flex;
      @include display-flex(row, space-between, center);
      object-fit: cover;
      width: 50px;
      height: 50px;

      background-color: lightgrey;
      border-radius: 50%;
    }
  }

  &__button {
    @include display-flex(row, space-between, center);
    font-size: 20px;
    background-color: $CTA-color;
    color: #ffffff;
    height: 55px;
    width: 85vw;
    border-radius: 4px;
    border-color: $CTA-color;
    margin-top: 20px;
    box-shadow: none;
    padding-right: 10rem;
    &:hover {
      background-color: $CTA-hover;
    }

    @include tablet {
      font-size: 16px;
      height: 45px;
      width: 160px;
      padding-right: 2rem;
      margin-top: 0;
    }
    @include desktop {
      width: 150px;
    
    }
  }
}
