@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

@include tablet {
}
@include desktop {
}

.hide {
  display: none;
}
.header {
 
  &__container {
   
    @include display-flex(column, center, center);
  }
  &__box {
   
    font-weight: 600;
    font-size: 1.5rem;
    color:#3f3d3d;
    @include display-flex(column, center, center);
  }
  &__navbox {
    width: 100%;
    border-top: 1px solid lightgrey;
    margin-top: 32px;
  }
}
.navbar {
  // border-top: 1px solid lightgrey;
  margin: 16px auto;
  padding: 26px 0 26px 16px;
  width: 100%;
  max-width: 800px;
   
 
}
.menu {
  @include display-flex(row, center, center);
 font-size: 1.2rem;
  gap: 40px; 
  width: 100%;
  &__items {
    width: 100%;
    display:block;
    transition-duration: 1s ;
    padding-top: 8px;
    text-align: center;
    position: relative;
    &:hover {
      color: #323232;
      background-color: rgb(238, 238, 238);
      cursor: pointer;
      padding-left: 10px;
    }
  }
}
.dropdown {
  color: rgb(107, 98, 98);
  position:absolute;
  background-color: rgba(255,255,255,0.9);

  &:hover{
 
    width: 100%;
  }
}
.dropbtn {
  width: 100%;
&__item {
  text-align: center;
}
}