@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.sidebar {
    margin: 24px;
    @include desktop {
      margin-right: 1rem;
      margin-left: 24px;
    }
    &__title {
      color: $secondary-color;
      font-weight: 600;
      margin-bottom: 32px;
    }
  
    &__box {
      @include display-flex(row, none, none);
      padding-bottom: 8px;
      @include desktop {
        padding-bottom: 16px;
      }
    }
    &__image {
      object-fit: cover;
      height: 5rem;
      width: 100%;
      border-radius: 4px;
      margin-bottom: 24px;
    }
  
    &__imgbox {
      background-color: #e1e1e1;
      height: 5rem;
      width: 8rem;
      flex-shrink: 0;
    }
    &__content {
      @include display-flex(column, space-evenly, none);
      margin-bottom: 24px;
      margin-left: 24px;
    }
  
    &__title1 {
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
      margin: 6px 0;
      line-height: 16px;
    }
  }
  