@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.hero {
    &__wrap {
       
          @include tablet{
            @include display-flex(row, center, center);
             
            background-size: cover;
            max-width: 100%;
            max-height: 75%;
      }
          @include desktop {
            @include display-flex(row, center, center);
         
          background-size: cover;
          max-width: 100%;
          max-height: 85%;
          }
      }
     
    }

.education {
  &__main{
    @include display-flex(column, center, center);
    width: 60%;
    margin-left: 20%;
  }
  &__title{
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  &__content{
    line-height: 36px !important;
    margin-bottom: 3rem;
  }
}